# Ignore build files
/build/
/test1/
test1/
/database/
/.cache/
todo.md
# Ignore CMake cache and temp files
CMakeCache.txt
CMakeFiles/
*.cmake
*.swp
.clangd
# Ignore IDE specific files
.idea/
.vscode/
.cache/clangd/index/
