# Ignore build files
/build/
/database/
/.cache/
todo.md
# Ignore CMake cache and temp files
CMakeCache.txt
CMakeFiles/
*.cmake
*.swp
.clangd
# Ignore IDE specific files
.idea/
.vscode/
.cache/clangd/index/
**/todo.md
TODO.md
**/TODO.md
# Test directories
test/
**/test/
**/tests/
__tests__/
*_test/
*_tests/

# Clangd cache directory
.clangd/
**/.clangd/
.clangd
**/.clangd
